<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add Student</h1>
    <form th:action="@{/student/save}" method="post" th:object="${student}"> <br>
        <input th:field="${student.email}" placeholder="Email Address?">
            <i th:errors = "${student.email}" ></i>
        <br>

        <input th:field="${student.fullname}" placeholder="Fullname?">
        <i th:errors = "${student.fullname}" ></i>
        <br>
        <input th:field="${student.marks}" placeholder="Average Marks">
        <i th:errors = "${student.marks}" ></i>
        <br>
        <input th:field="${student.gender}" th:value="true" type="radio"> Male

        <input th:field="${student.gender}" th:value="false" type="radio"> Female
        <i th:errors = "${student.gender}" ></i>
        <br>
        <select th:field="${student.country}">
            <option value=""></option>
            <option th:each="c: ${countries}" th:value="${c.key}">[[${c.value}]]</option>

        </select>
        <i th:errors = "${student.country}" ></i>
        <button>Save</button>
    </form>
</body>
</html>